Package: libwlroots-examples
Source: wlroots
Version: 0.6.0-3~disco
Architecture: amd64
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Installed-Size: 497
Depends: libc6 (>= 2.17), libgles2, libinput10 (>= 0.15.0), libpixman-1-0 (>= 0.25.2), libwayland-client0 (>= 1.9.91), libwayland-server0 (>= 1.14.91), libwlroots0, libxkbcommon0 (>= 0.7.0)
Section: libs
Priority: optional
Homepage: https://github.com/swaywm/wlroots
Description: Modular wayland compositor library - binaries
 wlroots is a set of pluggable, composable modules to build a Wayland
 composior.
 .
 This package contains the reference compositor rootston and other
 examples.
