Package: libwlroots-dev
Source: wlroots
Version: 0.10.99-luis1
Architecture: amd64
Maintainer: Sway and related packages team <team+swaywm@tracker.debian.org>
Installed-Size: 321
Depends: libwlroots5 (= 0.10.99-luis1), libcap-dev, libdrm-dev, libegl1-mesa-dev, libgbm-dev (>= 17.1.0), libgles2-mesa-dev, libinput-dev (>= 1.7.0), libpixman-1-dev, libsystemd-dev, libwayland-dev (>= 1.15), libxcb1-dev, libxcb-composite0-dev, libxcb-icccm4-dev, libxcb-image0-dev, libxcb-render0-dev, libxcb-xfixes0-dev, libxcb-xinput-dev, libxkbcommon-dev, libx11-xcb-dev, wayland-protocols (>= 1.15)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/swaywm/wlroots
Description: Modular wayland compositor library - development headers
 wlroots is a set of pluggable, composable modules to build a Wayland
 composior.
 .
 This package contains the development headers.
