Package: libwlroots5-dbgsym
Package-Type: ddeb
Source: wlroots
Version: 0.11.0-luis1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Sway and related packages team <team+swaywm@tracker.debian.org>
Installed-Size: 940
Depends: libwlroots5 (= 0.11.0-luis1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libwlroots5
Build-Ids: 4c0a5cad5a1789e73b869165b53d42a2aaf90169
