Package: libwlroots0-dbgsym
Package-Type: ddeb
Source: wlroots
Version: 0.6.0-3~disco
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Installed-Size: 1113
Depends: libwlroots0 (= 0.6.0-3~disco)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libwlroots0
Build-Ids: 9d41d440655cd9aae03acf91498bc889b81f8545
