Package: libwlroots0
Source: wlroots
Version: 0.6.0-3~disco
Architecture: amd64
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Installed-Size: 644
Depends: libc6 (>= 2.28), libcap2 (>= 1:2.10), libdrm2 (>= 2.4.74), libegl1, libgbm1 (>= 17.1.0~rc2), libgles2, libinput10 (>= 1.7.2), libpixman-1-0 (>= 0.25.2), libsystemd0 (>= 237), libudev1 (>= 183), libwayland-client0 (>= 1.9.91), libwayland-egl1 (>= 1.15.0), libwayland-server0 (>= 1.11.91), libxcb-composite0, libxcb-icccm4 (>= 0.4.1), libxcb-render0, libxcb-xfixes0, libxcb1, libxkbcommon0 (>= 0.5.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/swaywm/wlroots
Description: Modular wayland compositor library - shared library
 wlroots is a set of pluggable, composable modules to build a Wayland
 composior.
 .
 This package contains the share library.
